.page-content {
  background-color: #f8f9fa; /* soft gray */
  border-radius: 8px;
  padding: 2rem;
}

.form-control,
.form-select {
  background-color: #ffffff;
  border: 1px solid #ced4da;
}

.form-label {
  font-weight: 500;
  color: #ffffff;
}

.form-group {
  background-color: #92aabb;
  padding: 0.75rem;
  border-radius: 6px;
}
