<section>
  <div class="container-fluid p-0 m-0">
    <div class="row">

      <!-- Left column: image container -->
      <div class="col-md-6 p-0 m-0">
         <div class="hero-image"></div>
      </div>

        <!-- Right column -->
        <div class="col-md-6 d-flex justify-content-center align-items-center text-center">
          <div class="home-brand">
            <div class="home-logo">MCP</div>
            <div class="home-tagline">MY CHRISTIAN PLAYLIST</div>

            <p class="home-description p-lg-5">
             <em>A personal record of the songs that shaped your faith—often where you least expected them to.</em>
            </p>

            <div class="d-grid gap-4 col-6 mx-auto">
              <a routerLink="/songs" class="btn btn-success">SONGS</a>
              <a routerLink="/search" class="btn btn-primary">SEARCH</a>
            </div>
          </div>
        </div>

    </div>
  </div>
</section>
