<section class="page-content py-4">

  <div class="container search-page page-content py-4">
    <h2 class="page-title">Search</h2>

    <div class="search-panel">
      <input
      type="text"
      class="form-control"
      placeholder="Search songs, artists, or albums..."
      disabled
      />

      <div class="search-filters mt-3">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" checked disabled />
        <label class="form-check-label">
          Songs
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" disabled />
        <label class="form-check-label">
          Albums
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" disabled />
        <label class="form-check-label">
          Artists
        </label>
      </div>
    </div>

    <button class="btn btn-primary mt-4" disabled>
      Search
    </button>
  </div>
</div>

</section>
